body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

input[type="radio"] {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.header_title {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: -10px;
}

.control_panel {
    position: absolute;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}

#algorithm_panel {
    width: 250px;
    right: 40px;
    top: 40px;
}

#play_panel {
    width: 250px;
    right: 40px;
}

button {
    border: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 90%;
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
}

#start_button {
}

.finder_section {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 5px;
}

.sub_options {
    font-size: 90%;
    margin-left: 30px;
}

#timer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #0a0;
    font-size: 70%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
